body {
  // background-image: linear-gradient(
  //   to right,
  //   #cee5d0,
  //   #f3f0d7,
  //   #e0c097,
  //   #ff7878
  // );
  font-family: 'Stick No Bills', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}
.App {
}

.nav-app {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 10px;
  .header-title {
    font-size: 50px;

    a{
      text-decoration: none;
      color: black;
    }
    font-weight: bold;
  }
  .header-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;
      flex: 1;
      margin-left: 20px;

      .link {
        color: black;
        text-decoration: none;
        transition:  0.2s ease-in-out;
        padding: 10px;
      }

      .link:hover {
        color: #0649f0;
        transition:  0.2s ease-in-out;
      }
    }
  }
}
